<ion-row class="ion-align-items-center"
    style="border-bottom: 2px solid #f4f4f4; margin-bottom: 20px;margin-top: 20px;margin-left: 10px;">
    <ion-col size="12" size-md="8">
        <h4 class="title-page" style="margin: 0; font-weight: 700; color: #2c3e50;">Asignar para el día {{
            data.diaNombre }}</h4>
        <p style="color: #7f8c8d; margin: 4px 0 15px 0;">Solo se muestran trabajadores disponibles este día</p>
    </ion-col>
</ion-row>
<ion-row>
    <ion-col size="12" size-md="8">

        <div class="modal-body" style="padding: 15px;width: 830px;max-height: 600px;">
            <input type="text" class="form-control mb-3" placeholder="Buscar..." [(ngModel)]="filtro"
                (input)="filtrarLista()">

            <div class="list-container" style="max-height: 500px; overflow-y: auto;">
                <div class="list-group list-group-flush">
                    <button *ngFor="let t of trabajadoresFiltrados" type="button" (click)="toggleSeleccion(t)"
                        [class.list-group-item-primary]="estaSeleccionado(t)"
                        class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                        <div>
                            <div style="font-weight: 500;">{{ t.nombre_completo }}</div>
                            <small class="text-muted" style="font-size: 11px;">DNI: {{ t.dni || '---' }}</small>
                        </div>
                        @if(estaSeleccionado(t)){
                        <mat-icon>check_small</mat-icon>
                        }
                    </button>
                </div>
            </div>
        </div>

        <div class="modal-footer" style="padding: 15px; display: flex; justify-content: space-between;width: 830px;">
            <button type="button" class="btn btn-secondary btn-sm" (click)="dialogRef.close()">Cancelar</button>
            <button type="button" class="btn btn-primary btn-sm" [disabled]="seleccionados.length === 0"
                (click)="confirmarSeleccion()">
                Insertar {{ seleccionados.length }} seleccionados
            </button>
        </div>
    </ion-col>
</ion-row>
