<ion-row class="ion-align-items-center"
    style="border-bottom: 2px solid #f4f4f4; margin-bottom: 20px;margin-top: 20px;margin-left: 10px;">
    <ion-col size="12" size-md="12">
        <div style="display: flex;width: 100%;">
            <div>
                <h1 class="title-page" style="margin: 0; font-weight: 700; color: #2c3e50;">Gestión de Horario</h1>
                <p style="color: #7f8c8d; margin: 4px 0 15px 0;">Gestion de horarios, papeletas y horas extras</p>
            </div>
            <div style="width: 78%;">
                <div *ngIf="hayCambios" class="alert alert-warning d-flex align-items-center justify-content-between"
                    style="margin: 0 10px 15px 10px; border-left: 5px solid #ffc107;height: 50px !important;">
                    <span style="display: flex;align-items: center;">
                        <mat-icon style="margin: 0 5px;">info</mat-icon>
                        Tienes cambios sin guardar.
                    </span>
                </div>
            </div>
        </div>
    </ion-col>
</ion-row>
<ion-row>
    <ion-col size="12" size-md="12" size-lg="12" style="display: flex;">
        <div class="toolbar-container">
            <button (click)="onVerificarHorario()" type="button" matTooltip="Inicializar horario"
                class="btn btn-primary btn-sm btn-action">
                <mat-icon>calendar_month</mat-icon>
                <span class="btn-text">Generar</span>
            </button>

            <div class="calendar-wrapper">
                <mt-calendar [isPeriodo]="false" [isMultiSelect]="false" [isDefault]="false" [isRange]="true"
                    placeholder="Seleccione fecha" (afterChange)="onCalendar($event)">
                </mt-calendar>
            </div>

            <button (click)="onSearch()" type="button" matTooltip="Buscar horario"
                class="btn btn-primary btn-sm btn-action">
                <mat-icon>search</mat-icon>
                <span class="btn-text">Buscar</span>
            </button>

            <button type="button" matTooltip="Panel papeletas" class="btn btn-primary btn-sm btn-action">
                <mat-icon>ballot</mat-icon>
                <span class="btn-text">Papeletas</span>
            </button>

            <div class="content-button-save">
                @if(!isEditing){
                <button (click)="guardarHorarioCompleto()" type="button" matTooltip="Finalizar y guardar horario"
                    style="display: flex;justify-content: center;align-items: center;margin-right: 27px;"
                    class="btn btn-success btn-sm mobil-margin-button" [disabled]="horariosProcesados.length === 0">
                    <mat-icon style="margin-right: 5px;">save</mat-icon> <span>Registrar en Sistema</span>
                </button>
                }@else{
                <button (click)="editarHorarioCompleto()" type="button" matTooltip="guardar cambios en horario"
                    style="display: flex;justify-content: center;align-items: center;margin-right: 27px;"
                    class="btn btn-success btn-sm mobil-margin-button"
                    [disabled]="horariosProcesados.length === 0 || hayCambios === false">
                    <mat-icon style="margin-right: 5px;">save</mat-icon> <span>Guardar cambios</span>
                </button>
                }
            </div>
        </div>
        <div style="display: flex;justify-content: end;align-items: center;">
            <button (click)="openDialogInfo()" type="button" matTooltip="info"
                style="display: flex;justify-content: center;align-items: center;margin-right: 27px;"
                class="btn btn-Light btn-sm btn-icon-only">
                <mat-icon style="color: #e05005;">error</mat-icon>
            </button>
        </div>
    </ion-col>
</ion-row>
<ion-row>
    <ion-col size="12">
        <div class="main-schedule-wrapper">
            <div class="scrollable-content" *ngIf="horariosProcesados.length > 0; else emptyState">
                <div class="cargo-section" *ngFor="let item of horariosProcesados">
                    <div class="cargo-header">
                        {{ item.cargo }} - Tienda {{ item.codigo_tienda }}
                    </div>

                    <div class="grid-horario">
                        <div class="header-spacer">
                            <button class="btn btn-primary btn-sm" (click)="openDialogRango(MtMdlRangoHora,item,item.cargo)"
                                *ngIf="item.cargo !== 'Vacaciones' && esEditable(item.dias[0].fecha)"
                                style="background-color: #195ea7;">
                                Agregar Rango +
                            </button>
                        </div>

                        <div *ngFor="let dia of item.dias" class="header-dia" [class.day-blocked]="dia.dayBlock">
                            <span>{{ dia.dia }} </span>
                            <small style="display: inline-flex">{{ dia.fecha }}
                                <button matTooltip="Observaciones" class="btn-add-mini btn-danger"
                                    *ngIf="item.notasDia[dia.id]?.length > 0">
                                    <mat-icon
                                        style="font-size: 16px; display: flex; justify-content: center; align-items: center;">
                                        priority_high
                                    </mat-icon>
                                </button>
                            </small>
                        </div>

                        <ng-container *ngFor="let fila of item.filasTrabajo">
                            <div class="rango-label">{{ fila.rango }}
                                <button class="btn-add-mini" (click)="openDialog(MtMdlRangoHora, item, fila)"
                                    *ngIf="esEditable(item.dias[0].fecha)" matTooltip="Editar Rango">
                                    <mat-icon style="height: 13px; width: 13px; font-size: 13px;">edit</mat-icon>
                                </button>
                            </div>

                            <div *ngFor="let celda of fila.celdas; let i = index" class="celda-trabajo"
                                [class.cell-blocked]="item.dias[i].dayBlock && !puedeEditarPasado">
                                <div *ngFor="let trab of celda.trabajadores" class="chip-trabajador">
                                    {{ trab.nombre_completo }}
                                    <span class="close-chip" *ngIf="!item.dias[i].dayBlock || puedeEditarPasado"
                                        (click)="quitarTrabajador(celda, trab)">×</span>
                                </div>

                                <button class="btn-add-mini" (click)="abrirModalAsignar(celda, celda.id_dia)"
                                    *ngIf="(!item.dias[i].dayBlock && esEditable(item.dias[0].fecha)) || puedeEditarPasado"
                                    matTooltip="Agregar Trabajador">+</button>
                            </div>
                        </ng-container>

                        <ng-container @if(item.cargo !='Vacaciones' ){}>
                            <div class="rango-label libre-label">DIAS LIBRES</div>
                            <div *ngFor="let celda of item.filaLibres; let i = index" class="celda-libre"
                                [class.cell-blocked]="item.dias[i].dayBlock && !puedeEditarPasado">
                                <div *ngFor="let trab of celda.trabajadores" class="chip-libre">
                                    {{ trab.nombre_completo }}
                                    <span class="close-chip" *ngIf="!item.dias[i].dayBlock || puedeEditarPasado"
                                        (click)="quitarTrabajador(celda, trab)">×</span>
                                </div>

                                <button class="btn-add-mini" (click)="abrirModalAsignarLibre(celda, celda.id_dia)"
                                    *ngIf="(!item.dias[i].dayBlock && esEditable(item.dias[0].fecha)) || puedeEditarPasado"
                                    matTooltip="Agregar Trabajador">+</button>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </ion-col>
</ion-row>
v


<mt-loader *ngIf="isLoading" [title]="titleLoader"></mt-loader>


<ng-template #emptyState>
    <div class="empty-schedule-container">
        <div class="empty-icon">
            <i class="fas fa-calendar-times"></i>
        </div>
        <h3>Horario Vacío</h3>
        <p>No se encontraron horarios programados para esta tienda en el rango de fechas seleccionado.
        </p>
    </div>
</ng-template>

@if (isNotification) {
<mt-notification [type]="typeNotification" [message]="messageNotification"
    (onClose)="cerrarNotificacion()"></mt-notification>
}