<div class="modal-info-container">

    <div style="border-bottom: 2px solid #f4f4f4; margin-bottom: 20px;margin-top: 20px;margin-left: 10px;">
        <h3 class="title-page" style="margin: 0; font-weight: 700; color: #2c3e50;">Lineamientos del Horario </h3>
        <p style="color: #7f8c8d; margin: 4px 0 15px 0;">Tengan en cuenta estos lineamientos cuando programen su
            horario.</p>
    </div>


    <div class="info-card warning">
        <mat-icon>timer</mat-icon>
        <div class="content">
            <strong>Jornada Laboral Mínima</strong>
            <p>El rango de horas registrado no debe ser menor a <strong>9 horas .</strong> Este lineamiento no se aplica a los
                Asesores Part Time.</p>
        </div>
    </div>

    <div class="info-card info">
        <mat-icon>schedule</mat-icon>
        <div class="content">
            <strong>Formato de Tiempo</strong>
            <p>Utilice estrictamente el formato de <strong>24 horas</strong> (Ej: 08:00 a 17:00).</p>
        </div>
    </div>

    <div class="info-card system">
        <mat-icon>event_available</mat-icon>
        <div class="content">
            <strong>Programación Semanal</strong>
            <p>Solo se permite programar la semana siguiente. No se admiten registros con 2 o más semanas de antelación.
            </p>
        </div>
    </div>

    <div class="info-card locked">
        <mat-icon>history_toggle_off</mat-icon>
        <div class="content">
            <strong>Restricción de Edición</strong>
            <p>Los días anteriores a la fecha actual están bloqueados para cambios.</p>
        </div>
    </div>

    <div class="info-card footer-info">
        <mat-icon>contact_support</mat-icon>
        <div class="content">
            <strong>¿Necesitas ayuda o excepciones?</strong>
            <p>Contacta a <strong>Recursos Humanos</strong> para desbloqueos o a <strong>Sistemas</strong> por falta de
                personal en lista.</p>
        </div>
    </div>
</div>