<ion-row class="ion-align-items-center" style="border-bottom: 2px solid #f4f4f4; margin-bottom: 20px;">
    <ion-col size="12" size-md="8">
        <h3 class="title-page" style="margin: 0; font-weight: 700; color: #2c3e50;"><mat-icon
                verticalAlign="middle">storefront</mat-icon> Asignar Tiendas</h3>
    </ion-col>
</ion-row>

<mat-dialog-content>
    <p class="text-muted">Seleccione las tiendas a las que <b>{{data.usuario.USUARIO}}</b> tendrá acceso:</p>


    <mt-input (keyup)="filtrarTiendas($event)" label="Filtrar tiendas"
        placeholder="Ingrese nombre de tienda"></mt-input>

    <div class="border rounded" style="max-height: 600px; overflow-y: auto;">
        <mat-selection-list #listaTiendas [(ngModel)]="tiendasSeleccionadas" color="primary">
            <mat-list-option *ngFor="let tienda of tiendasFiltradas" [value]="tienda.id">
                <div class="d-flex justify-content-between w-100">
                    <span>{{tienda.nombre}}</span>
                </div>
            </mat-list-option>
        </mat-selection-list>
    </div>
</mat-dialog-content>

<div style="padding: 10px;display: inline-flex;align-items: center;justify-content: end;">
    <button matTooltip="Guardar permisos" (click)="guardar()" id="searchProducto" type="button"
        class="btn btn-primary btn-sm" style="padding: 0 2px; margin-right: 3px; display: flex;
        justify-content: center; align-items: center; height: 34px; width: 164px;">
        <span>Guardar cambios</span>
    </button>
</div>