<ion-app>
    <ion-menu contentId="main-content" type="overlay">
        <ion-header>
            <ion-toolbar color="primary">
                <ion-title>Menú</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list lines="none">
                <ion-menu-toggle auto-hide="true" *ngFor="let menu of menuFiltrado">
                    <ion-item button>
                        <ion-label>{{menu.title}}</ion-label>
                    </ion-item>
                </ion-menu-toggle>
            </ion-list>
        </ion-content>
    </ion-menu>

    <div class="ion-page" id="main-content">

        <ion-header *ngIf="isLogged" style="height: 4.4%;">
            <ion-toolbar>
                <ion-buttons slot="start">
                    <ion-menu-button></ion-menu-button>
                </ion-buttons>
                <ion-title>METAS PERU</ion-title>
                <ion-buttons slot="end">
                    <ion-button id="profile-popover-trigger">
                        <ion-avatar class="avatar-header">
                            <img src="../assets/metasicon.png" />
                        </ion-avatar>
                        <mat-icon>keyboard_arrow_down</mat-icon>
                    </ion-button>
                </ion-buttons>
            </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding" style="height: 95.6%;">
            <ion-router-outlet></ion-router-outlet>
        </ion-content>
        <toas-notification></toas-notification>
    </div>

    <ion-popover trigger="profile-popover-trigger" *ngIf="isLogged">
        <ng-template>
            <ion-content>
                <div class="user-popover-header">
                    <ion-avatar class="avatar-mini">
                        <img src="../assets/metasicon.png" />
                    </ion-avatar>
                    <div class="user-info">
                        <span class="label">Usuario</span>
                        <span class="name">Nombre Apellido</span>
                    </div>
                </div>
                <ion-list lines="none">
                    <ion-item button class="item-perfil" [routerLink]="['/profile']">
                        <mat-icon>person_outline</mat-icon>
                        <ion-label>Mi Perfil</ion-label>
                    </ion-item>
                    <ion-item button class="logout-btn" (click)="logout()">
                        <mat-icon>logout</mat-icon>
                        <ion-label>Cerrar Sesión</ion-label>
                    </ion-item>
                </ion-list>
            </ion-content>
        </ng-template>
    </ion-popover>
</ion-app>