<ion-app>
    <ion-menu contentId="main-content" type="overlay">
        <ion-header>
            <ion-toolbar color="primary">
                <ion-title>Menú</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list lines="none">
                <ion-menu-toggle auto-hide="true" *ngFor="let menu of menuFiltrado">
                    <ion-item button>
                        <ion-label>csss</ion-label>
                    </ion-item>
                </ion-menu-toggle>
            </ion-list>
        </ion-content>
    </ion-menu>

    <div class="ion-page" id="main-content">

        <ion-header *ngIf="isLogged">
            <ion-toolbar>
                <ion-buttons slot="start">
                    <ion-menu-button></ion-menu-button>
                </ion-buttons>
                <ion-title>METAS PERU</ion-title>
                <ion-buttons slot="end">
                    <ion-button id="profile-popover-trigger">
                        <ion-avatar class="avatar-header">
                            <img src="../assets/metasicon.png" />
                        </ion-avatar>
                        <mat-icon>keyboard_arrow_down</mat-icon>
                    </ion-button>
                </ion-buttons>
            </ion-toolbar>
        </ion-header>

        <ion-content class="ion-padding">
            <ion-router-outlet></ion-router-outlet>
        </ion-content>

        <toas-notification></toas-notification>
    </div>

    <ion-popover trigger="profile-popover-trigger" *ngIf="isLogged">
    </ion-popover>
</ion-app>