<section class="example-container mat-elevation-z8" style="overflow: auto;">
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">

            @for(col of dataColumns; track col.matColumnDef) {

            <ng-container [matColumnDef]="col.matColumnDef" [sticky]="col.isSticky">
                <th mat-header-cell *matHeaderCellDef>
                    <div class="head-table" style="display: flex; align-items: center;">

                        @if(col.extraProperty === 'cStock') {
                        <div [matBadge]="1" [class.badge-success]="col.isOnline" [class.badge-danger]="!col.isOnline"
                            matBadgeSize="small" style="margin-right: 20px; margin-bottom: 8px;">
                        </div>
                        }

                        <span class="column-title">{{ col.titleColumn }}</span>

                        <div class="filter-content">
                            <div class="btn-filter" [matMenuTriggerFor]="filterMenu">
                                @if(col.filterActive) {
                                <div matBadge="!" class="badge-danger" matBadgeSize="small"></div>
                                }
                                <i class="fa fa-filter"></i>
                            </div>
                        </div>
                    </div>

                    <mat-menu #filterMenu="matMenu">
                        @if(col.cboFilter.length) {
                        <mt-select [isMultiselect]="true" [checkAll]="true" [data]="col.cboFilter"
                            (selectdOption)="onChangeSelect($event, col.matColumnDef)"
                            label="Seleccione un departamento" title="Departamento"></mt-select>
                        } @else {
                        <mt-input (click)="$event.stopPropagation()"
                            (keyup)="applyFilterTable($event, col.matColumnDef)" label="Filtro {{col.titleColumn}}"
                            placeholder="Buscar..."></mt-input>
                        }
                    </mat-menu>
                </th>


                @if(col.extraProperty === 'cStock'){
                <td mat-cell *matCellDef="let element">
                    {{(element.cStock?.[col.propertyValue] ?? 0)}}
                </td>
                }@else{
                <td mat-cell *matCellDef="let element">

                    @if(col.propertyValue == 'horasEfectivas'){
                    {{element[col.propertyValue]}} <span style="color: green;"
                        *ngIf="element['isPapeleta'] == 'con papeleta'">+{{element['horaSolicitada']}}</span>
                    }@else if(col.propertyValue == 'rango' && element[col.propertyValue] == 'Sin Horario'){
                    <span class="badge text-bg-danger">
                        {{element[col.propertyValue]}}
                    </span>
                    }@else if(col.propertyValue == 'rango' && element[col.propertyValue] == 'Descanso'){
                    <span class="badge text-bg-success">
                        {{element[col.propertyValue]}}
                    </span>
                    }@else if(col.propertyValue == 'tardanza' && element[col.propertyValue] == 'correcto'){
                    <span class="badge text-bg-primary">correcto</span>
                    }@else if(col.propertyValue == 'tardanza' && element[col.propertyValue] == 'tardanza'){
                    <span class="badge text-bg-danger">tardanza</span>
                    }@else if(col.propertyValue == 'isPapeleta' && element[col.propertyValue] == 'con papeleta'){
                    <span class="badge text-bg-danger">papeleta</span>
                    }@else if(col.propertyValue == 'isPapeleta' && element[col.propertyValue] == 'sin papeleta'){
                    <span class="badge text-bg-primary">sin papeleta</span>
                    }@else if(col.propertyValue == 'jornadaIncompleta' && element[col.propertyValue] == 'completa'){
                    <span class="badge text-bg-primary">completa</span>
                    }@else if(col.propertyValue == 'jornadaIncompleta' && element[col.propertyValue] == 'incompleta'){
                    <span class="badge text-bg-danger">incompleta</span>
                    }@else if(col.propertyValue == 'excesoBreak' && element[col.propertyValue] == 'verificar'){
                    <span class="badge text-bg-danger">verificar</span>
                    }@else if(col.propertyValue == 'excesoBreak' && element[col.propertyValue] == 'correcto'){
                    <span class="badge text-bg-primary">correcto</span>
                    }@else if(col.propertyValue == 'marcacionesLen' && (element[col.propertyValue] > 2 ||
                    element[col.propertyValue] == 1)){
                    <span class="badge text-bg-danger">{{element[col.propertyValue]}}</span>
                    }@else if(col.propertyValue == 'marcacionesLen' && element[col.propertyValue] == 2){
                    <span class="badge text-bg-primary">{{element[col.propertyValue]}}</span>
                    }@else if(col.propertyValue == 'cStatus' && element[col.propertyValue] == 'Correcto'){
                    <span class="badge text-bg-primary">Correcto</span>
                    }@else if(col.propertyValue == 'cStatus' && element[col.propertyValue] == 'Faltante'){
                    <span class="badge text-bg-danger">Faltante</span>
                    }@else if(col.propertyValue == 'cEstado' && element[col.propertyValue] == 'Correcto'){
                    <span class="badge text-bg-primary">Correcto</span>
                    }@else if(col.propertyValue == 'cEstado' && element[col.propertyValue] == 'Diferencia'){
                    <span class="badge text-bg-danger">Diferencia</span>
                    }@else if(col.propertyValue == 'cCotizacion'){
                    <span class="badge text-bg-primary">{{element[col.propertyValue]}}</span>
                    }@else if(col.propertyValue == 'cCotiSunat' && element.cCotiSunat == element.cCotizacion){
                    <span class="badge text-bg-success">{{element[col.propertyValue]}}</span>
                    } @else if(col.propertyValue == 'cCotiSunat' && element.cCotiSunat != element.cCotizacion){
                    <span class="badge text-bg-danger">{{element[col.propertyValue]}}</span>
                    }@else if(col.propertyValue == 'cAccion'){
                    <button matTooltip="Eliminar" id="searchProducto" type="button" class="btn btn-danger btn-sm"
                        (click)="onDeleteRow(element)"
                        style="padding-bottom: 0px;padding-left: 2px;padding-right: 2px;padding-top: 0;margin-right: 3px;">
                        <mat-icon style="margin-top: 6px;">delete_forever</mat-icon>
                    </button>
                    }@else if(col.propertyValue == 'cAccionHorario'){
                    <button matTooltip="Eliminar" id="searchProducto" type="button" class="btn btn-success btn-sm"
                        (click)="onSelectedRow(element)"
                        style="padding-bottom: 0px;padding-left: 2px;padding-right: 2px;padding-top: 0;margin-right: 3px;">
                        <mat-icon style="margin-top: 6px;">calendar_month</mat-icon>
                    </button>
                    }@else if(col.propertyValue == 'accion'){

                    <button matTooltip="Marcaciones" id="searchProducto" type="button" class="btn btn-primary btn-sm"
                        (click)="openDialog(element['marcaciones'])"
                        style="padding-bottom: 0px;padding-left: 2px;padding-right: 2px;padding-top: 0;margin-right: 3px;">
                        <mat-icon style="margin-top: 6px;">fingerprint</mat-icon>
                    </button>

                    <button *ngIf="element['isPapeleta'] == 'con papeleta'" matTooltip="Ver papeleta"
                        id="searchProducto" type="button" class="btn btn-primary btn-sm"
                        (click)="openDialogBallot(element['codigoPapeleta'])"
                        style="padding-bottom: 0px;padding-left: 2px;padding-right: 2px;padding-top: 0;margin-right: 3px;">
                        <mat-icon style="margin-top: 6px;">article_person</mat-icon>
                    </button>
                    }@else if(col.propertyValue == 'tiempoBreak' && element['excesoBreak'] == true){
                    <span class="badge text-bg-danger">{{element[col.propertyValue]}}</span>
                    }@else{
                    {{element[col.propertyValue]}}
                    }
                </td>
                }
            </ng-container>
            }

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons class="mat-mdc-paginator-sticky">
        </mat-paginator>
    </div>
</section>