<section class="example-container mat-elevation-z8" style="overflow: auto;">
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">

            @for(col of dataColumns; track col.matColumnDef) {

            <ng-container [matColumnDef]="col.matColumnDef" [sticky]="col.isSticky">
                <th mat-header-cell *matHeaderCellDef>
                    <div class="head-table" style="display: flex; align-items: center;">

                        @if(col.extraProperty === 'cStock') {
                        <div [matBadge]="1" [class.badge-success]="col.isOnline" [class.badge-danger]="!col.isOnline"
                            matBadgeSize="small" style="margin-right: 20px; margin-bottom: 8px;">
                        </div>
                        }

                        <span class="column-title">{{ col.titleColumn }}</span>

                        <div class="filter-content">
                            <div class="btn-filter" [matMenuTriggerFor]="filterMenu">
                                @if(col.filterActive) {
                                <div matBadge="!" class="badge-danger" matBadgeSize="small"></div>
                                }
                                <i class="fa fa-filter"></i>
                            </div>
                        </div>
                    </div>

                    <mat-menu #filterMenu="matMenu">
                        @if(col.cboFilter.length) {
                        <mt-select [isMultiselect]="true" [checkAll]="true" [data]="col.cboFilter"
                            (selectdOption)="onChangeSelect($event, col.matColumnDef)"
                            label="Seleccione un departamento" title="Departamento"></mt-select>
                        } @else {
                        <mt-input (click)="$event.stopPropagation()"
                            (keyup)="applyFilterTable($event, col.matColumnDef)" label="Filtro {{col.titleColumn}}"
                            placeholder="Buscar..."></mt-input>
                        }
                    </mat-menu>
                </th>


                @if(col.extraProperty === 'cStock'){
                <td mat-cell *matCellDef="let element">
                    {{(element.cStock?.[col.propertyValue] ?? 0)}}
                </td>
                }@else{
                <td mat-cell *matCellDef="let element">
                    @if(col.propertyValue == 'rango' && element[col.propertyValue] == 'Sin Horario'){
                    <span class="badge text-bg-danger">
                        {{element[col.propertyValue]}}
                    </span>
                    }@else if(col.propertyValue == 'rango' && element[col.propertyValue] == 'Descanso'){
                    <span class="badge text-bg-success">
                        {{element[col.propertyValue]}}
                    </span>
                    }@else if(col.propertyValue == 'tardanza' && element[col.propertyValue] == false){
                    <span class="badge text-bg-primary">correcto</span>
                    }@else if(col.propertyValue == 'tardanza' && element[col.propertyValue] == true){
                    <span class="badge text-bg-danger">tardanza</span>
                    }@else if(col.propertyValue == 'isPapeleta' && element[col.propertyValue] == true){
                    <span class="badge text-bg-danger">papeleta</span>
                    }@else if(col.propertyValue == 'isPapeleta' && element[col.propertyValue] == false){
                    <span class="badge text-bg-primary">sin papeleta</span>
                    }@else if(col.propertyValue == 'jornadaIncompleta' && element[col.propertyValue] == false){
                    <span class="badge text-bg-primary">completa</span>
                    }@else if(col.propertyValue == 'jornadaIncompleta' && element[col.propertyValue] == true){
                    <span class="badge text-bg-danger">incompleta</span>
                    }@else if(col.propertyValue == 'excesoBreak' && element[col.propertyValue] == true){
                    <span class="badge text-bg-danger">verificar</span>
                    }@else if(col.propertyValue == 'excesoBreak' && element[col.propertyValue] == false){
                    <span class="badge text-bg-primary">correcto</span>
                    }@else if(col.propertyValue == 'accion'){

                    <button  matTooltip="Marcaciones" id="searchProducto"
                        type="button" class="btn btn-primary btn-sm" (click)="openDialog(element['marcaciones'])"
                        style="padding-bottom: 0px;padding-left: 3px;padding-right: 3px;padding-top: 0;margin-right: 5px;">
                        <mat-icon style="margin-top: 3px;">fingerprint</mat-icon>
                    </button>

                    <button *ngIf="element['isPapeleta'] == true" matTooltip="Ver papeleta" id="searchProducto"
                        type="button" class="btn btn-primary btn-sm"
                        style="padding-bottom: 0px;padding-left: 3px;padding-right: 3px;padding-top: 0;margin-right: 5px;">
                        <mat-icon style="margin-top: 3px;">article_person</mat-icon>
                    </button>
                    }@else if(col.propertyValue == 'tiempoBreak' && element['excesoBreak'] == true){
                    <span class="badge text-bg-danger">{{element[col.propertyValue]}}</span>
                    }@else{
                    {{element[col.propertyValue]}}
                    }
                </td>
                }
            </ng-container>
            }

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons class="mat-mdc-paginator-sticky">
        </mat-paginator>
    </div>
</section>