<div class="page-container">
  <mat-card class="papeleta-card">
    <header class="header">
      <div class="brand">
        <div class="logo">
          <span class="m-logo">M</span>
          <div class="brand-text">
            <strong>METAS</strong>
            <span>PERÚ SAC</span>
          </div>
        </div>
      </div>
      <div style="display: flex;justify-content: end;padding-bottom: 12px;">
        <button matTooltip="Registrar Papeleta" (click)="onSaveBallot()" id="searchProducto" type="button"
          class="btn btn-primary btn-sm" style="padding-bottom: 0px;padding-left: 2px;padding-right: 2px;padding-top: 0;margin-right: 3px;display: flex;
          justify-content: center;
          align-items: center;
          height: 34px;
          width: 100px;">
          <mat-icon style="margin-right: 5px;">save</mat-icon> <span>Registrar</span>
        </button>
      </div>
    </header>

    <form>
      <div class="row g-3 mb-4">
        <div class="col-12">
          <mt-select [data]="employeEJBList" (selectdOption)="onChangeSelect($event,'selectEmploye')"
            [isMultiselect]=false label="Seleccione un empleado" title="Empleado">
          </mt-select>
        </div>
        <div class="col-md-6">
          <mt-select [data]="typeBallotList" (selectdOption)="onChangeSelect($event,'selectTypeBallot')"
            [isMultiselect]=false label="Tipo papeleta" title="Tipo">
          </mt-select>
        </div>
        <div class="col-md-6">
          <mt-select [data]="cargoEmployes" (selectdOption)="onChangeSelect($event,'selectCargoEmploye')"
            [isMultiselect]=false label="Seleccione cargo" title="Cargo">
          </mt-select>
        </div>
      </div>

      <section class="section-details">
        <div class="detail-grid">
          <div class="detail-group">
            <div class="item">
              <mt-calendar (afterChange)="onCalendarDesde($event)" [isDefault]="true" placeholder="Desde"></mt-calendar>
            </div>
            <div class="item">
              <mt-calendar (afterChange)="onCalendarHasta($event)" [isDefault]="true" placeholder="Hasta"></mt-calendar>
            </div>
          </div>
          <div class="detail-group">
            <div class="item">
              <mt-calendar [isTime]="true" (keyup)="onChangeInput($event,'timeDesde')"
                placeholder="Inicio"></mt-calendar>
            </div>
            <div class="item">
              <mt-calendar [isTime]="true" (keyup)="onChangeInput($event,'timeHasta')" placeholder="Fin"></mt-calendar>
            </div>
          </div>
          <div class="hours-badge-disponible" [ngClass]="{'border-danger': horasDisponibles == '00:00'}">
            <span class="label" [class.text-danger]="horasDisponibles == '00:00'">Horas Disponibles</span>
            <span class="value" [class.text-danger]="horasDisponibles == '00:00'">{{horasDisponibles}}</span>
          </div>
          <div class="hours-badge" [ngClass]="{'border-danger': excesoPermitido}">
            <span class="label" [class.text-danger]="excesoPermitido">Horas Solicitadas</span>
            <span class="value" [class.text-danger]="excesoPermitido">{{horasSolicitadas}}</span>
          </div>
        </div>
      </section>

      <div class="scroll-container">
        <table class="table table-sm table-bordered table-hover">
          <thead class="table-dark">
            <tr>
              <th>Fecha</th>
              <th>Extra</th>
              <th>Solicitada</th>
              <th>Sobrante</th>
              <th>Estado</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody>
            @for (column of horasExtras; track column) {
            <tr>
              <td>{{column.FECHA}}</td>
              <td>{{column.HR_EXTRA_ACUMULADO}}</td>
              <td>{{column.HR_EXTRA_SOLICITADO}}</td>
              <td>{{column.HR_EXTRA_SOBRANTE}}</td>
              <td>
                <span class="badge badge-text" [ngClass]="getClaseEstado(column.ESTADO)">
                  {{column.ESTADO}}
                </span>
              </td>
              <td>
                <button matTooltip="Solicitar Aprobacion" id="searchProducto" type="button"
                  class="btn btn-primary btn-sm"
                  style="padding-bottom: 0px;padding-left: 2px;padding-right: 2px;padding-top: 0;margin-right: 3px;height: 30px;">
                  <mat-icon style="margin-top: 6px;font-size: 17px;">task_alt</mat-icon>
                </button>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </form>
  </mat-card>

  @if (isNotification) {
  <mt-notification [type]="typeNotification" [message]="messageNotification"
    (onClose)="cerrarNotificacion()"></mt-notification>
  }

  <mt-loader *ngIf="isLoading" [title]="titleLoader"></mt-loader>