<ion-grid>
    <ion-row class="ion-align-items-center" style="border-bottom: 2px solid #f4f4f4; margin-bottom: 20px;">
        <ion-col size="12" size-md="8">
            <h3 class="title-page" style="margin: 0; font-weight: 700; color: #2c3e50;">Configuracion de sistema</h3>
            <p style="color: #7f8c8d; margin: 4px 0 15px 0;">Configuracion de permisos</p>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <mat-tab-group (selectedIndexChange)="onTabChange($event)">
                <mat-tab label="Permisos Tiendas">
                    <ng-template matTabContent>
                        <mt-permisos-tiendas></mt-permisos-tiendas>
                    </ng-template>
                </mat-tab>
                <mat-tab label="Usuarios sistema" *ngIf="roleUser == 'SISTEMAS'">
                    <ng-template matTabContent>
                        <mt-usuarios-sistema></mt-usuarios-sistema>
                    </ng-template>
                </mat-tab>
                <mat-tab label="Registro Tiendas" *ngIf="roleUser == 'SISTEMAS'">
                    <ng-template matTabContent>
                        <mt-parametros-tienda></mt-parametros-tienda>
                    </ng-template>
                </mat-tab>
                <mat-tab label="Mantenimiento RRHH / Horarios">
                    <ng-template matTabContent>
                        <mt-maintenance-tables></mt-maintenance-tables>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </ion-col>
    </ion-row>
</ion-grid>
